<h1>We are on Edit Page</h1>

<!--<form action="/users" method="post" name="users" accept-charset="UTF-8">

  <label name="email"> Email: </label>
  <input type="email" name="user[email]">

  <label name="username"> Username: </label>
  <input type="text" name="user[username]">

  <label name="password"> Password: </label>
  <input type="password" name="user[password]">

  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>-->


<!--<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:email, "Email:") %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>-->

<%= form_for @user do |u| %>
  Email: <%= u.email_field :email, placeholder: "example@example.com"%>
  Username: <%= u.text_field :username, value: "New user" %>
  Password: <%= u.password_field :password %>
  <%= u.submit "Submit" %>
<% end %>
